<div>
  <div>
    <label for="userName" class="form-label">{{"userName"}}</label>
    <input id="userName" class="" type="text" formControlName="userName">
  </div>
  <div>
    <label for="firstName" class="form-label">{{"firstName"}}</label>
    <input id="firstName" class="" type="text" formControlName="userName">
  </div>
  <div>
    <label for="lastName" class="form-label">{{"lastName"}}</label>
    <input id="lastName" class="" type="text" formControlName="userName">
  </div>

  <div>
    <label for="password" class="form-label">{{"password"}}</label>
    <input id="password" type="text" formControlName="password">
  </div>
  <div>
    <label for="cnfPass" class="form-label">{{"cnfPass"}}</label>
    <input id="cnfPass" type="text" formControlName="password">
  </div>
</div>
